<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add A New Category</title>
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>
<body>
    <form method="POST" action="/add" class="form">
        <h1><label for="catLabel"> Enter a new category: </label></h1>
        <h1><input id="category" type="text" name="category"></h1>
        <h1><label for="imageLabel"> Enter an image: </label></h1>
        <h1><input id="image" type="text" name="image"></h1>
        <input class ="btn" type="submit" value="Add">
    </form>
</body>
</html>