<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add A New Food Item</title>
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>
<body>
    <form method="POST" action="/category/{{id}}/add" class="form">
        <h1><label for="foodLabel"> Enter a new {{name}} menu: </label></h1>
        <h1><input id="foodItem" type="text" name="name"></h1>
        <h1><label for="imageLabel"> Enter an image: </label></h1>
        <h1><input id="newImage" type="text" name="image"></h1>
        <h1><input id="receipeURL" type="text" name="receipeURL"></h1>
        <input class ="btn" type="submit" value="Add menu">
    </form>
</body>
</html>