<!DOCTYPE html>
<html>
  <head>
    <title>Food List</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
  </head>
  <body>
    <h1>Let's choose our food category for dinner tonight</h1>
    <div class="grid-container">
      {{#each foodCategory}} 
        <div class="grid-item">
        <a href ='/category/{{id}}'}>{{name}}</a></div>
        <div class="grid-item"><img src='../images/{{image}}'></div>
      {{/each}}
    </div>
    <hr>
    <button class="btn" onclick="location.href ='/add'";>Add New Food Type</button>
</html>
